body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-size: 3rem;
	color: white;
	text-align: center;
}
hr{
	border-color: #F05F44;
	border-width: 3px;
	max-width: 65px;
}
.buffer{
	height: 10rem;
}
.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-primary{
	background-color: #F05F44;
	border-color:  #F05F44;

}
.btn-primary:hover{
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 4px;
}
.btn-xl{
	padding: 1rem 2rem;
}
